.Button {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  height: 60px;
  padding: 10px;
  font-weight: bold;
  border-radius: 75px;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  background-color: var(--primary-button-color);
  border: none;
  transition: 150ms;
  color: var(--text-on-primary-alt);
}

.Button:disabled{
  cursor: auto;
}
