.Button {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  height: 60px;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  background-color: #40417d;
  border: none;
  border-radius: 5px;
  transition: 150ms;
}
.Button:hover {
  box-shadow: 0 3px 7px rgb(38, 38, 38);
}

.Button:active {
background: #6a6bad;
}

.Button:disabled{
  cursor: auto;
}
