.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.tittle{
  margin-left: 35%;
}
div > .buttonsDeleteModal{
  margin: 10px auto;
}
Form > div{
  margin: 10px 0;
}
.inputsForm{
  margin: 5px 0;
}
.inputsDivs{
  margin: 3px 0;
}