body {
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.all{
  height: 600px;
  display: flex;
  flex-direction: column;
}

#h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--text-on-primary);
  margin-top: 50px;
}
.form {
  border: 1px solid black;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 350px;
  max-width: 800px;
  align-self: center;
}
.label {
  padding-left: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: var(--text-on-primary-alt);
}
.row {
  padding: 10px 0 10px 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ceced3;
}
.text {
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0px;
  height: auto;
  color: var(--text-on-primary-alt);
}

.form > :nth-child(even) {
  background-color: var(--row-odd-background);
  box-shadow: inset 0px -1px 0px #e0e0e0;
  transition: 0.2s;
}
.form > :nth-child(odd) {
  background-color: var(--row-even-background);
  box-shadow: inset 0px -1px 0px #e0e0e0;
  transition: 0.2s;
}
.secondColumn {
  width: 50%;
}
.inputsProfile {
  width: 95%;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #373867;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.errorInput {
  color: #b02000;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  margin: 5px 0 0 5px;
  padding: 0%;
  border: none;
}
.divButton{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  height: 50px;
}

.divButton button{
  background-color: var(--primary-button-color);
  color: var(--text-on-primary);
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.buttonSubmit{
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 10px;
}

.buttonSubmit button{
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .divButton button, .buttonSubmit button{
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1024px) {
  .divButton{
    justify-content: flex-end;
    max-width: 800px;
    margin: 50px auto;
  }
}