.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--text-on-primary);
}
.error {
	color: red;
	font-size: 12px;
}

.notSelectedItem, .selectedItem {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	width: 100%;
}

.selectedItem {
	background-color: rgb(236, 255, 236);
}

.notSelectedItem {
	background-color: #eee;
}

.chip {
	background-color: #eee;
	height: 32px;
	width: 100%;
	border-radius: 16px;
	padding: 7px 12px;
	font-size: 14px;
	margin: 4px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selectedItem:not(:last-child) {
	box-shadow: 0px -1px 0px 0px #696 inset;
}

.notSelectedItem:not(:last-child) {
	box-shadow: 0px -1px 0px 0px #666 inset;
}

.notSelectedItem:last-child, .selectedItem:last-child {
	border-radius: 0 0 5px  5px;
}

.selectedItem, .chip {
	display: inline-block;
  position: relative;
}

.selectedItem:after, .chip:after {
	content: '';
  position: absolute;
  width: calc(100% - 24px);
  transform: scaleX(0);
  height: 2px;
  bottom: 15px;
  left: 12px;
  background-color: #373867;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.selectedItem:hover:after, .chip:hover:after {
	transform: scaleX(1);
  transform-origin: bottom left;
}

.selectedItem:hover, .chip:hover {
	transition: .3s;
	background-color: rgb(247, 199, 199);
}

.notSelectedItem:hover {
	background-color: #e9e9e9;
}

.containerTask {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .dropdownTitleTask {
	font-family: 'Roboto', sans-serif;
	  font-weight: bold;
	  color: #373867;
  }
  .selectTask {
	height: 36px;
	width: 189.63px;
	border-radius: 5px;
	border: 1px solid #373867;
	background: transparent;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
	content:"\025be";
  }
  .select-selected {
	background-color: DodgerBlue;
  }