.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.container div{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container div label {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #EA3354 !important;
}
.container div input{
    border-radius: 4px !important;
    border: solid #EA3354 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    width: 300px;
    height: 20px;
}
.container div input:last-child{
    border-radius: 1px;
}
.check{
    border-radius: 1px;
    box-shadow: none !important;
    margin-bottom: 10px;
}
.btn{
    background-color: #008f39;
    width: 300px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.container div input::placeholder{
    padding-left: 5px;
}