#span{
    font-size: 16px;
    font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 5px;
}

.togglerContainer {
    display: flex;
    justify-content: center;
}