.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.boxButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
