.container{
    margin: 5px auto;
    font-weight: 10px;
    font-size: 13px;
    width: 90%;
    overflow-x: auto;
    color: var(--text-on-primary-alt);
}

.container h2{
    color: var(--text-on-primary);
}

.addButton{
    width: 100px;
    height: 100px;
}

.table{
    border-collapse: collapse;
    border: none;
    width: 100%;
}

thead{
    background-color: var(--primary-color);
}

.row{
    height: 50px;
}

.row:not(:last-child) {
    border-bottom: solid black 1px;
}

.table th:first-child {
	border-radius: 10px 0 0 0;
}

.table th:last-child {
	border-radius: 0 10px 0 0;
}

.tbody > :nth-child(even) {
	background-color: var(--row-even-background);
	transition: .2s;
}

.tbody > :nth-child(odd) {
	background-color: var(--row-odd-background);
	transition: .2s;
}

.tbody > :hover {
	background-color: var(--row-hover-background);
    color: #E4EAF3;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons > div {
    margin: 5px;
}

.tbody > tr > td > Button {
    margin: 0 auto;
}

.tbody > tr:last-child > :first-child {
	border-radius: 0 0 0 10px;
}
.tbody > tr:last-child > :last-child {
	border-radius: 0 0 10px 0;
}

.topButtons {
    display: flex;
    padding-bottom: 25px;
    justify-content: flex-end;
}

.topButtons button {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-right: 20px;
    box-shadow: 4px 4px 13px -12px #000000;
}

.textPm{
    font-size: 20px;
}

.tabs{
    margin-left: 10px;
    display: flex;
}

.tabs button{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
    background-color: var(--primary-button-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px;
}

.tabs i{
    margin-top: 2px;
}

.noDataText h1{
    background-color: var(--primary-button-color);
    border-radius: 5px 5px 0 0;
    padding: 5px 0px 5px 10px;
    font-size: 20px;
}

.noDataText h2{
    background-color: var(--row-even-background);
    color: var(--text-on-primary-var);
    font-size: 16px;
    padding: 5px;
    font-weight: 400;
}

.indexPage{
    color: var(--text-on-primary);
    margin-top: 15px;
}

.formHome {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 5px 15px;
}

.formHome input{
    width: 100%;
    box-shadow: none;
    margin: 5px 0;
}

.formHome label{
    margin-bottom: 10px;
}

.assignedEmp select{
    width: 100%;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonsContainer button{
    width: 50px;
    height: 50px;
}

.formButtons {
    display: flex;
    padding-top: 25px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.formButtons button {
    color: #fff;
    width: 50px;
    height: 50px;
}

.select select{
    width: 100%;
}

.empRole option{
    color: red;
}

.formHome label {
    font-size: 16px;
}

.empName{
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 15px;
    /* border-radius: 15px; */
    padding: 8px;
    margin: 5px 0;
}

.rate{
    display: flex;
    flex-direction: column;
}

.rate input{
    width: 100%;
    height: 30px;
    margin-top: 0;
}

.empRole option {
    color: red;
}
#pm{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
}
.errorInput{
    color: var(--error);
    margin-bottom: 5px;
}