.container{
    margin: 5px auto;
    font-weight: 10px;
    font-size: 13px;
    width: 90%;
    overflow-x: auto;
}

.addButton{
    width: 100px;
    height: 100px;
}

.table{
    border-collapse: collapse;
    border: none;
    width: 100%;
}

td{
    border: none;
    text-align: center;
    align-items: center;
}

thead{
    background-color: #ea3354;
    height: 50px;
    border-radius: 10px;
    max-width: 1200px;
    color: white;
    text-transform: uppercase;
}

.row{
    height: 50px;
}

.row:not(:last-child) {
    border-bottom: solid black 1px;
}

.table th:first-child {
	border-radius: 10px 0 0 0;
}

.table th:last-child {
	border-radius: 0 10px 0 0;
}

.tbody > :nth-child(even) {
	background-color: #e0e4e9;
	transition: .2s;
}

.tbody > :nth-child(odd) {
	background-color: #f0f4f9;
	transition: .2s;
}

.tbody > :hover {
	background-color:#7e8795;
    color: #E4EAF3;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.buttons > div {
    margin: 5px;
}

.tbody > tr > td > Button {
    margin: 0 auto;
}

.tbody > tr:last-child > :first-child {
	border-radius: 0 0 0 10px;
}
.tbody > tr:last-child > :last-child {
	border-radius: 0 0 10px 0;
}