.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
	color: red;
	font-size: 12px;
}
.buttonsDeleteModal{
  margin: 13px 0;
}
.modalText{
  text-align: center;
}