.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.tableBox{
    background-color: rgba(153, 153, 153, 0.319);
    border-radius: 5px;
    border: solid 3px rgba(18, 18, 18, 0.522);
    padding: 1%;
}

.head{
    border-bottom: solid 3px rgba(18, 18, 18, 0.522);
}
.btn{
    text-align: center;
    background-color: rgb(116, 167, 102);
    color: black;
    text-decoration: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 40px;
}
