.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.tableBox{
    background-color: rgba(153, 153, 153, 0.319);
    border-radius: 5px;
    border: solid 3px rgba(18, 18, 18, 0.522);
    padding: 1%;
}

.head{
    border-bottom: solid 3px rgba(18, 18, 18, 0.522);
}
.btn{
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-radius: 3px;
    width: 20%;
    padding: 1%;
    margin: 2%;
}
.btnText{
    color:rgba(18, 18, 18, 0.522);
    text-decoration: none;
}