.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 5%;
    background-color: gainsboro ;
    border-radius: 7%;
    box-shadow: 2px 2px 2px grey;
}
.form label{
    display: flex;
    justify-content: center;
}
.submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}