.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: auto;
}

.Btn {
    margin-bottom: 10px;
}

.row {
    background-color: rgb(243, 240, 240);
    border-color: rgb(98, 98, 98);
    border-style: groove;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px;
}

.pmNavTabs {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 75px;
    width: 80%;
    padding-left: 20px;
}

.pmNavTabs button {
    width: 100px;
    height: 25px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    color: var(--text-on-primary-alt);
    text-transform: uppercase;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 2px;
}

.selectedTab {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    background-color: var(--slider-active-color);
    border: none;
    transition: 150ms;
}

.unselectedTab {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    background-color: var(--tabs-unselected);
    border: none;
    transition: 150ms;
}

.enabled {
    background-color: var(--slider-active-color);
    border: none;
    border-radius: 5px;
}

.disabled {
    display: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 10px;
}