.container{
    display: flex;
    justify-items: center;
    background-color: white;
}

.container div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
}

.container th{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
}