.container{
  margin: 5px auto;
  font-weight: 10px;
  font-size: 13px;
  width: 100%;
  overflow-x: auto;
}

.buttonControllercontainer {
  display: flex;
  justify-content: space-between;
}

.addButton{
  width: 100px;
  height: 100px;
}

.table{
  border-collapse: collapse;
  border: none;
  width: 100%;
}

td{
  border: none;
  text-align: center;
  align-items: center;
}

thead{
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 10px;
  max-width: 1200px;
  color: white;
  text-transform: uppercase;
}

.row{
  height: 50px;
}

.row:not(:last-child) {
  border-bottom: solid black 1px;
}

.table th:first-child {
border-radius: 10px 0 0 0;
}

.table th:last-child {
border-radius: 0 10px 0 0;
}

.tbody > :nth-child(even) {
background-color: var(--row-even-background);
transition: .2s;
}

.tbody > :nth-child(odd) {
background-color: var(--row-odd-background);
transition: .2s;
}

.tbody > :hover {
  background-color: var(--row-hover-background);
  color: #E4EAF3;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: flex-end;
}

.buttons > div {
  margin: 5px;
}

.tbody > tr > td > Button {
  margin: 0 auto;
}

.tbody > tr:last-child > :first-child {
border-radius: 0 0 0 10px;
}

.tbody > tr:last-child > :last-child {
border-radius: 0 0 10px 0;
}

/* The switch - the box around the slider
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* input:checked + .slider {
  background-color: #2196F3;
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

/* input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider {
  border-radius: 34px;
} */

/* .slider:before {
  border-radius: 50%;
} */
