.container{
    margin: 5px 5px;
    font-weight: 10px;
    font-size: 13px;
    width: 90%;
}
table{
    margin-top: 10px;
    border-collapse: collapse;
    border: none;
    width: 100%;
}
td{
    border: none;
    border-bottom: solid black 1px;
    align-items: center;
}
thead{
    background-color: #ea3354;
    height: 50px;
    border-radius: 10px;
    max-width: 1200px;
}
tr{
    height: 50px;
}
table th:first-child {
	border-radius: 10px 0 0 0;
}
table th:last-child {
	border-radius: 0 10px 0 0;
}
tbody > :nth-child(even) {
	background-color: #e0e4e9;
	transition: .2s;
}
tbody > :nth-child(odd) {
	background-color: #f0f4f9;
	transition: .2s;
}
tbody > :hover {
	background-color:#7e8795;
    color: white;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}
.buttons > div {
    margin: 5px;
}
tbody > tr > td > Button {
    margin: 0 auto;
}
