.container {
    margin: 50px auto;
    font-weight: 10px;
    font-size: 13px;
    width: 90%;
    overflow-x: auto;
}

.container h2{
    color: var(--text-on-primary);
}

.addButton {
    width: 100px;
    height: 100px;
}

.table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

td {
    border: none;
    text-align: center;
    align-items: center;
    padding: 0 15px;
}

thead{
    background-color: var(--primary-color);
    height: 50px;
    border-radius: 10px;
    max-width: 1200px;
    color: white;
    text-transform: uppercase;
}

.empButton{
    background-color: var(--primary-button-color);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    text-transform: uppercase;
}


.row{
    height: 50px;
}

.row:not(:last-child) {
    border-bottom: solid black 1px;
}

.table th:first-child {
    border-radius: 10px 0 0 0;
}

.table th:last-child {
    border-radius: 0 10px 0 0;
}

.tbody> :nth-child(even) {
    background-color: var(--row-even-background);
    transition: .2s;
}

.tbody> :nth-child(odd) {
    background-color: var(--row-odd-background);
    transition: .2s;
}

.tbody> :hover {
    background-color: var(--row-hover-background);
    color: #E4EAF3;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttons>div {
    margin: 5px;
}

.navButtons {
    display: flex;
    color: var(--text-on-primary);
}

.navButtons p {
    margin: 10px;
}

.buttons button {
    width: 40px;
    height: 40px;
}

.tbody>tr>td>Button {
    margin: 0 auto;
}

.tbody>tr:last-child> :first-child {
    border-radius: 0 0 0 10px;
}

.tbody>tr:last-child> :last-child {
    border-radius: 0 0 10px 0;
}

#buttonAddHome {
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-text-color);
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    background-color: var(--primary-button-color);
    border: none;
    border-radius: 100px;
    transition: 150ms;
}

#buttonAddHome:hover {
    box-shadow: 0 3px 7px rgb(38, 38, 38);
}

#buttonAddHome:active {
    background: #6a6bad;
}

#buttonAddHome:disabled {
    cursor: auto;
}

.dropdownTd {
    align-self: center;
    text-align: -webkit-center;
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.buttonBox p {
    color: var(--text-on-primary);
    text-transform: uppercase;
    margin-right: 10px;
}