.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdownTitle {
  font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #373867;
}
.select {
  height: 36px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid #373867;
  background: transparent;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
  content:"\025be";
}
.select-selected {
  background-color: DodgerBlue;
}
.error {
	color: red;
	font-size: 12px;
}