.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

<<<<<<< HEAD
.formHome {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-top: 25px;
  padding: 15px;
}

.formHome input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
  margin-bottom: 10px;
}

=======
>>>>>>> origin/master
.inputContainer {
  margin-top: 10px;
}
.errorInput {
  color: var(--error);
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0 0 5px;
  padding: 0%;
  border: none;
}
.buttonContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 10px;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal button{
  background-color: var(--primary-button-color);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
}

.formEditAdmin{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.labelInput{
  display: flex;
  flex-direction: column;
}

.labelInput input {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}

.checkboxAdm input{
  margin-left: 10px;
  transform: scale(1.2);
}

.checkboxAdm {
  margin-bottom: 20px;
}

.modalAddEdit{
  display: flex;
  justify-content: center;
}

.modalAddEdit button{
  background-color: var(--primary-button-color);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}