.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHome {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-top: 25px;
  padding: 15px;
}

.formHome input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
  margin-bottom: 10px;
}