body{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
/* HEADER */
header{
    display: flex;
}
/* ASIDE */
aside{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
ul li{
    display: flex;
    flex-wrap: wrap;
}
/* MAIN */
main{
    flex: 5;
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* classes */
.ppal{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
/* header classes */
.hamburger-menu{
    display: none;
}
.tittle-header{
    display: flex;
}
/* main classes */
.first-section{
    display: flex;
}
.img-watch-mobile{
    display: none;
}
.information-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.group{
    flex: 2 1 325px;
}
.subtext-rigth{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: nowrap;
}
.formulario-info-user{
    display: flex;
    justify-content: flex-start;
    flex: 0 0 300px;
    flex-wrap: wrap;
}
.personal-information{
    flex: 1 2 215px;
}
.election{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.contact{
    display: flex;
    justify-content: flex-start;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}
.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lists{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/* footer classes*/
.texto-footer{
    align-self: center;
}
/* MEDIA QUERIES */
/* TABLET */
@media only screen and (max-width: 780px) {
    body{
        font-size: 13px;
        width: 100%
    }
    aside {
      display: none;
    }
    .menu-gral{
        display: none;
    }
    .img-watch-mobile{
        display: none;
    }
    .mainfooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger-menu{
        display: inline-block;
    }
    .first-section, .main-section{
        width: 100%;
    }
}
/* MOBILE */
@media only screen and (max-width: 480px) {
    footer > div{
        margin: 0 auto;
    }
    h4{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .election{
        display: block;
    }
    .img-watch-mobile{
        display: block;
    }
    .img-watch-desktop{
        display: none;
    }
    .separator{
        width: 70vw;
    }
    .formulario-info-user{
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 25px;
        width: 95%;
        padding-bottom: 30px;
    }
    .personal-information{
        width: 100%;
    }
    .about-us{
        flex-direction: column;
    }
    .lists{
        flex-direction: column;
        align-items: center;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .btn-send, .btn-reset{
        margin: .6em 0;
        width: 200px;
    }
}