.navbar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: var(--nav-background);
  color: var(--primary-color);
}

.appName {
  width: 300px;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

.appName h1{
  margin-bottom: 0;
  font-size: 2.5em;
  border-bottom: 1px solid var(--primary-color);
}

.appName h2{
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 0;
  margin-right: 50px;
  padding-bottom: 10px;
}

.rutes > li > a {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  transition: transform 2s;
}

.rutes > li > a:hover {
  color: var(--routes-hover);
}

@media screen and (min-width: 750px) {
  .appName {
    transform: scale(1.2);
    padding-bottom: 15px;
  }

  .rutes li a {
    font-weight: 600;
    margin-right: 5px;
  }

  .appName {
    width: 250px;
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
  }
  .rutes {
    margin-top: 20px;
  }
  .rutes li a {
    margin-right: 10px;
    font-size: 18px;
  }
  .appName {
    transform: scale(1.4);
    padding-right: 20px;
  }
}

@media screen and (min-width: 1770px) {
  .rutes {
    margin-top: 20px;
  }
  .rutes li a {
    margin-right: 15px;
    font-size: 20px;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
  }

  .appName {
    transform: scale(1.6);
  }
}