.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  width: 100vw;
  height: 10vh;
}

.logo{
  transform: scale(0.8);
}

@media screen and (min-width: 1024px) {
  .navbar {
      justify-content: flex-end;
      margin-right: 50px;
  }
}