.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #d4d4d4;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
}

.socialIcon {
  margin-left: 15px;
}

.navbar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: #EDEDED;
}

.appName {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: 200px;
  margin-top: 20px;
  box-shadow: 0 2px 0 0 #373867;
  box-sizing: border-box;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-right: 50px;
}

.rutes > li > a {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  display: none;
}

@media screen and (min-width: 750px) {
  .container {
    display: flex;
  }

  .navbar {
    min-height: 35px;
  }

  .rutes li a {
    display: none;
}

  .appName {
    width: 250px;
    font-size: 2.5rem;
    box-shadow: 0 2px 0 0 #373867;
  }
}

@media screen and (min-width: 1200px) {
  .rutes li a {
    display: inline;
    font-weight: 600;
    margin-right: 5px;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
  }
  .appName {
    width: 300px;
    font-size: 3em;
    box-shadow: 0 3px 0 0 #373867;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1770px) {
  .rutes li a {
    display: inline;
    font-weight: 600;
    margin: 0 20px;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    height: 12vh;
  }
  .appName {
    margin-top: 0;
    font-size: 3.5rem;
    width: 20%;
    box-shadow: 0 3px 0 0 #373867;
  }
}