body {
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.form {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 25px auto;
  background: #ebebf0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 35px;
  padding-bottom: 35px;
}
.form form {
  display: flex;
  flex-direction: column;
  flex: wrap;
  width: 90%;
}
.form h1 {
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  color: #373867;
  text-align: center;
}
.form input:not(.checkbox),
select {
  display: block;
  padding: 6px;
  border: 1px solid #373867;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  resize: none;
  width: 100%;
}
.inputContainer {
  margin: 10px 20px;
  width: 80%;
}
.formFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.checkbox {
  align-self: flex-start;
}
.buttonsContainer {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.buttonContinue {
  width: 20%;
  margin: 15px 10%;
  height: 30px;
  background-color: #aace9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.buttonReset {
  width: 20%;
  margin: 15px 10%;
  height: 30px;
  background-color: lightgray;
  color: #8A8A8A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.errorInput {
  color: red;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0 0 5px;
  padding: 0%;
  border: none;
}
.labels {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #373867;
}
.buttonContinue::after, .buttonReset::after {
  content: '';
  background: #181823;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.buttonContinue:hover::after, .buttonReset:hover::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
};
