body {
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.all{
  background-color: var(--background);
  padding-top: 40px;
}
.form {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 25px auto;
  background:  var(--form-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0 20px;
  max-width: 700px;
}
.form form {
  display: flex;
  flex-direction: column;
  flex: wrap;
  width: 90%;
}
.form h1 {
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  color: var(--text-on-primary);
  text-align: center;
}
.form input:not(.checkbox),
select {
  display: block;
  padding: 6px;
  border: 1px solid #373867;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  resize: none;
  width: 100%;
}
.inputContainer {
  margin: 10px 20px;
  width: 80%;
}
.formFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.checkbox {
  align-self: flex-start;
}
.buttonsContainer {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.buttonContinue {
  width: 20%;
  margin: 15px 10%;
  height: 30px;
  background-color: var(--primary-button-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.buttonOk {
  background-color: var(--primary-button-color);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonReset {
  width: 20%;
  margin: 15px 10%;
  height: 30px;
  background-color: lightgray;
  color: #8A8A8A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.errorInput {
  color: var(--error);
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0 0 5px;
  padding: 0%;
  border: none;
}
.labels {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-on-primary);
}


.bottomLinkContainer{
  display: flex;
  align-self: center;
  margin-bottom: 8px;
}
link:visited{
  color: var();
}
.newHereText{
  color: var(--text-on-primary);
}
.loginRedirect{
  color: #0A66C2;
}
.loginRedirect:visited{
  color: #0A66C2;
}
.ripple {
  width: 25%;
  height: 30px;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  /* -webkit-transition: background 400ms; */
  transition: background 400ms;
  color: var(--text-on-primary);
  background-color: var(--ripple-button-background);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-position: center;
}
.ripple:hover {
  background: var(--ripple-button-background) radial-gradient(circle, transparent 1%, var(--ripple-button-wave) 1%) center/15000%;
}
.ripple:active {
  background-color: #cfb2f9;
  background-size: 100%;
  /* -webkit-transition: background 0s; */
  transition: background 0s;
}
.resetRipple{
  width: 25%;
  height: 30px;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  /* -webkit-transition: background 400ms; */
  transition: background 400ms;
  color: #8A8A8A;
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-position: center;
}
.resetRipple:hover {
  background: lightgray radial-gradient(circle, transparent 1%, var(--ripple-button-wave) 1%) center/15000%;
}
.resetRipple:active {
  background-color: #cfb2f9;
  background-size: 100%;
  /* -webkit-transition: background 0s; */
  transition: background 0s;
}
@media screen and (max-width: 1024px) {
  .form{
    width: 80%;
  }
  .inputContainer {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .formFlex {
    flex-direction: column;
    align-items: center;
  }
  .ripple{
    width: 30%;
  }
  .inputContainer {
    width: 70%;
  }
  .form h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .formFlex {
    flex-direction: column;
  }
  .form h1 {
    font-size: 30px;
  }
  .inputContainer {
    width: 90%;
  }
  .ripple{
    width: 42%;
  }
  .labels{
    font-size: 15px;
  }
  .newHereText{
    font-size: small;
  }
  .buttonsContainer{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .resetRipple, .ripple{
    width: 90%;
  }
}