.input {
	border: 1px solid black;
}

.inputError{
	border: 2px solid var(--error);
	color: var(--error);
}

.inputError, .input {
	margin: 4px 0;
	padding: 6px;
	border-radius: 6px;
}

.inputError::placeholder {
	color: var(--error);
}

.errorContainer, .optionContainer {
	min-height: 8px;
	width: 100%;
	margin-bottom: 4px;
}

.error {
	color: var(--error);
	font-size: 12px;
	margin: 0;
}

.notSelectedItem, .selectedItem {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	width: 100%;
}

.selectedItem {
	background-color: rgb(236, 255, 236);
}

.notSelectedItem {
	background-color: #eee;
}

.chip {
	background-color: #eee;
	height: 32px;
	width: 100%;
	border-radius: 16px;
	padding: 7px 12px;
	font-size: 14px;
	margin: 4px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selectedItem:not(:last-child) {
	box-shadow: 0px -1px 0px 0px #696 inset;
}

.notSelectedItem:not(:last-child) {
	box-shadow: 0px -1px 0px 0px #666 inset;
}

.notSelectedItem:last-child, .selectedItem:last-child {
	border-radius: 0 0 5px  5px;
}

.selectedItem, .chip {
	display: inline-block;
  position: relative;
}

.selectedItem:after, .chip:after {
	content: '';
  position: absolute;
  width: calc(100% - 24px);
  transform: scaleX(0);
  height: 2px;
  bottom: 15px;
  left: 12px;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.selectedItem:hover:after, .chip:hover:after {
	transform: scaleX(1);
  transform-origin: bottom left;
}

.selectedItem:hover, .chip:hover {
	transition: .3s;
	background-color: rgb(247, 199, 199);
}

.notSelectedItem:hover {
	background-color: #e9e9e9;
}
