<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Trangenix is a web application for the human resources area with incredible functionalities">
        <meta name="keywords"  content="Trangenix, RadiumRocket, BaSP, rrhh">
        <meta name="author" content="Nicolas Costanza">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/aside.css">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/styles.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <span class="hamburger-menu">&#x2630</span>
            <a class="tittle-header" href="#">
                <span class="header-radium">Radium</span>
                <span class="header-rocket">Rocket</span>
            </a>
        </header>
        <div class="ppal">
            <aside>
                <div class="menu-gral">
                        <p class="menu">Menu</p>
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </nav>
                    <P class="contact-us">Contact us</P>
                    <p class="contact-us-subtext">
                        We provide 24-hour support
                    </p>
                    <address>
                        <ul>
                            <li>
                                <img src="./assets/img/mail.png" alt="trangenix"><p class="text-contact">contact@trackgenix.com</p>
                            </li>
                            <li>
                                <img src="./assets/img/mail.png" alt="trangenix"> <p class="text-contact">+1 555-000-555</p>
                            </li>
                            <li>
                                <img src="./assets/img/direction.png" alt="trangenix"> <p class="text-contact">1234 Somewhere Road #8254</p>
                            </li>
                            <li><p class="text-contact">Nashville, TN 00000-0000</p></li>
                        </ul>
                    </address>
                </div>
            </aside>
            <div class="mainfooter">
                <main>
                    <section class="first-section">
                        <div class="main-section">
                            <h1>Trackgenix</h1>
                            <p class="main-text">
                                Trangenix is a company specialized in custom systems development. Extensive experience in 
                                analysis, design and development of systems, websites and mobile apps. With more than 20 years 
                                in the market.
                            </p>
                            <img class="img-watch-mobile margin-photo" src="./assets/img/reloj.jpg" alt="Reloj">
                            <p class="secondary-text">
                                We are a digital transformation company that brings technological trends closer to any sector. 
                                Our mission is to meet the needs of our customers by relying on new technologies to adapt them 
                                to their environment and enhance their digital transformation. Our efforts are aimed at creating 
                                concrete solutions for specific problems, always based on agile development methodologies.
                            </p>
                        </div>
                        <div class="margin-photo">
                            <img class="img-watch-desktop" src="./assets/img/reloj.jpg" alt="Reloj">
                        </div>
                    </section>
                    <h2>Functionalities</h2>
                    <section class="information-section">
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Timesheet</h3>
                                    <p class="text">
                                        This app has a lot of hours for each member of the company, so you can then accept, reject or 
                                        edit them to your liking to optimize work time
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Reports</h3>
                                    <p class="text">
                                        You will have a section where you will find the reports of all areas of your company, 
                                        both in the form of graphics and text. they are useful to detect possible opportunities
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Resource management</h3>
                                    <p class="text">
                                        You will be able to manage your expenses, costs, salaries and all kinds of economic 
                                        movement of your company to make the best possible decisions
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Roles</h3>
                                    <p class="text">
                                        You will have a list of all the members of the company with their respective roles 
                                        and functions, which you can add, delete and change their role.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="separator"></div>
                    <h2>¿Why do you use Trackgenix?</h2>
                    <section class="information-section">
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Productivity booster</h3>
                                    <p class="text">
                                        You can perform tasks automatically or manually but shortening all the tedious and repetitive steps that 
                                        these activities carry. In this way you can use that leftover time in other more productive tasks
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Work tracking</h3>
                                    <p class="text">
                                        It contains a perfectly designed roadmap with all the activities to be carried out 
                                        with their respective participants. Where you can edit them to your liking
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Leadership and team managment</h3>
                                    <p class="text">
                                        Your Project managers, leaders or bosses will have a panoramic and general view of 
                                        your employees in charge. With these tools you will achieve optimal management
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="subtext-rigth">
                                <img class="star" src="./assets/img/star.png" alt="trangenix">
                                <div>
                                    <h3>Decision making</h3>
                                    <p class="text">
                                        You will be able to see and visualize all the parameters and aspects of your company 
                                        to make the best decisions in tune with the mission of your Company
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="separator"></div>
                    <h2>Ask for information</h2>
                    <section>
                        <form>
                            <div class="formulario-info-user">
                                <input class="personal-information" type="name" placeholder="Name">
                                <input class="personal-information" type="email" placeholder="Email">
                            </div>
                            <p class="title-form">Contact area:</p>
                            <div class="election">
                                <div class="contact">
                                    <input class="input-radio" type="radio" name="contact-area">
                                    <label>Human Resources</label>
                                </div>
                                <div class="contact">
                                    <input class="input-radio" type="radio" name="contact-area">
                                    <label>Sistems</label>
                                </div>
                                <div class="contact">
                                    <input class="input-radio" type="radio" name="contact-area">
                                    <label>Commercialization</label>
                                </div>
                            </div>
                            <p class="title-form">Message:</p>
                            <div>
                                <textarea placeholder="Enter your message"></textarea>
                            </div>
                            <div class="buttons">
                                <button class="btn-send" type="submit">SEND MESSAGE</button>
                                <button class="btn-reset" type="reset">RESET</button>
                            </div>
                        </form>
                    </section>
                    <div class="separator"></div>
                    <h2>About us</h2>
                    <section class="about-us">
                        <p class="about-us-text">
                            The software we create is modular and allows its growth, adaptation and changes in the 
                            medium-long term. This execution path offers clear cost savings to customers, a solution 
                            to their needs in short periods of time and the possibility of adapting to new needs in real time.
                            We have more than 20 years in the market providing solutions of the best quality at the lowest price.
                        </p>
                        <img class="img-rocket" src="./assets/img/radium.png" alt="Radium Rocket">
                    </section>
                    <div class="separator"></div>
                    <section class="lists">
                        <div class="lists-products">
                            <h4>Products</h4>
                            <ol>
                                <li>1. Features</li>
                                <li>2. Downloads</li>
                                <li>3. Integrations</li>
                                <li>4. Extras</li>
                            </ol>
                        </div>
                        <div class="lists-company">
                            <h4>Company</h4>
                            <ol>
                                <li>1. About us</li>
                                <li>2. Clients</li>
                                <li>3. Resources</li>
                                <li>4. Blog</li>
                            </ol>
                        </div>
                        <div class="lists-support">
                            <h4>support</h4>
                            <ol>
                                <li>1. Help</li>
                                <li>2. Tutorials</li>
                                <li>3. API</li>
                                <li>4. Contact</li>
                            </ol>
                        </div>
                    </section>
                </main>
                <footer>
                    <div class="icons-social-media">
                        <a class="linkedin" href="https://radiumrocket.com/"><img src="./assets/img/linkedin.png" alt="LinkedIn Trangenix"></a>
                        <a class="twitter" href="https://radiumrocket.com/"><img src="./assets/img/twitter.png" alt="Twitter Trangenix"></a>
                        <a class="whatsapp" href="https://radiumrocket.com/"><img src="./assets/img/whatsapp.png" alt="Whatsapp Trangenix"></a>
                        <a class="facebook" href="https://radiumrocket.com/"><img src="./assets/img/facebook.png" alt="Facebook Trangenix"></a>
                    </div>
                    <div class="texto-footer">
                        <p>Trackgenix ®</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>