.iconsHeader {
  display: flex;
  justify-content: end;
  list-style: none;
}
.iconsHeader > li {
  padding: 10px;
  cursor: pointer;
}
.header {
  margin: 0 5%;
}
nav {
  border-bottom: 3px solid #373867;
  position: sticky;
  top: 0px;
  width: 98%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 400;
}
.nameEmailForm {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}
.nameEmailForm > input {
  width: 40%;
  border: 2px solid #373867;
  border-radius: 5px;
  height: 32px;
}
.nameEmailForm > input::placeholder {
  padding-left: 10px;
  color: #373867;
}
.selectLanding {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #373867;
  border-radius: 5px;
  height: 32px;
  color: #373867;
  margin-bottom: 25px;
}
.messageForm {
  width: 90%;
  margin: 0 auto;
}
textarea {
  width: 100%;
  height: 200px;
  border: 2px solid #373867;
  border-radius: 5px;
}
textarea::placeholder {
  color: #373867;
}
.buttonsForm{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.buttonForm {
  margin-top: 20px;
  background-color: #f56a6a;
  border: none;
  color: #373867;
  width: 128px;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
}
nav > ul:last-child {
  padding-right: 50px;
}
.sidebar {
  z-index: 500;
}
.sidebarMain {
  display: flex;
}
.firstSection {
  width: 100%;
  display: flex;
}
.firstSection > div {
  width: 50%;
}
.wrapImage {
  min-width: 300px;
}
.separator {
  height: 2px;
  margin: 30px 0;
  padding-left: 92px;
  background: #373867;
  border-radius: 10px;
}
.group {
  margin: 5px;
  flex: 2 1 325px;
  min-width: 600px;
  padding: 10px 0;
}
a:link,
a:visited {
  color: #373867;
}
.divFooter {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
h3 {
  width: auto;
  display: flex;
}
.titleFooter {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: center;
}
.divFooter > a {
  padding: 10px;
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #373867;
}
.secondSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #373867;
}
.subtittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #373867;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textMainSection {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #373867;
}
.buttonMore {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 272px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  text-align: center;
  color: #373867;
  border: 2px solid #373867;
  border-radius: 5px;
  cursor: pointer;
}
.group > div > div > h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #373867;
}
.imgMainSection {
  padding-top: 170px;
  padding-left: 20px;
  margin-left: 3%;
  width: 90%;
  min-width: 300px;
  max-height: 650px;
  height: 80%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
  z-index: -1;
}
.mainSection {
  padding: 15px 30px;
}
.imagenLeftBox {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: nowrap;
}
.subGroup {
  display: block;
  padding-left: 15px;
}
.listFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0px 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttonsFooterDiv {
  display: flex;
  font-size: 11px;
}
.buttonsFooterDiv :first-child {
  background-color: white;
  border: 2px solid #373867;
  color: #373867;
  font-size: 11px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.requestInformationForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.requestInformationForm input,
select,
textarea {
  display: block;
  padding: 6px;
  margin-top: 3px;
  margin-bottom: 8px;
  border-radius: 2px;
  resize: none;
}

/* .contact-us form {
    display: flex;
    flex-direction: column;
    flex: wrap;
} */
form input {
  width: 380px;
}
textarea {
  align-self: center;
}
.nameAndEmail {
  display: flex;
}
.emailSection {
  display: flex;
  flex-direction: column;
}
.imgTablet {
  display: none;
}

@media only screen and (max-width: 780px) {
  main{
    width: 95%;
  }
  .listFooter {
    align-items: center;
    flex-direction: column;
  }
  .listFooter > div {
    width: 80%;
  }
  .listFooter > div > h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
  .imgTablet {
    display: flex;
  }
  .imgTabletSize {
    width: 80%;
    height: 60%;
    padding-top: 15px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
    z-index: -1;
  }
  .wrapImage {
    display: none;
  }
  .firstSection > div {
    width: 95%;
  }
  .imgTablet {
    justify-content: center;
  }
  .subGroup {
    flex-direction: column;
  }
  .subtittle,
  .textMainSection {
    text-align: center;
  }
  .buttonMore {
    width: 50%;
    margin: 0 auto;
  }
  h1{
    width: 100%;
  }
  .firstSection > div {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .buttonMore {
    width: 100%;
  }
  .buttonForm{
    width: 100%;
  }
}
