body, .messageForm > textarea{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-on-primary);
}

.firstSection {
  /* margin: 50px; */
  align-self: center;
  background: white;
  background-image: url('https://cdn.discordapp.com/attachments/993669752121729056/1002336697599656048/top-view-person-writing-on-laptop-with-copy-space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

.nameEmailForm {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.nameEmailForm > input {
  padding-left: 10px;
  min-width: 40%;
  height: 40px;
  border: 1px solid black;
  margin-bottom: 20px;
}


.nameEmailForm > input::placeholder {
  color: #373867;
}

.selectLanding {
  margin-left: 45px;
  width: 90%;
  height: 40px;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.messageForm {
  width: 90%;
  margin: 0 auto;
}
.messageForm > textarea {
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid black;
}
.messageForm > textarea::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttonsForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.buttonForm {
  background-color: var(--primary-button-color);
  border: none;
  font-weight: 500;
  color: var(--text-on-primary-alt);
  width: 20%;
  height: 50px;
  cursor: pointer;
  margin: 20px auto;
}
.buttonForm:hover {
  background-color: #AA4949;
  color: #fff;
}

.wrapImage {
  min-width: 300px;
}

.separator {
  height: 2px;
  margin: 30px 0;
  padding-left: 92px;
  background: #373867;
  border-radius: 10px;
}

.group {
  margin: 5px;
  flex: 2 1 325px;
  padding: 10px 0;
}

.divFooter {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.landingH2:not(.h2Contact) {
  font-size: 50px;
  font-weight: 700;
  color: var(--text-on-primary);
  text-align: center;
  margin: 80px auto;
}

.groupTitle {
  width: auto;
  display: flex;
}

.titleFooter {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: center;
}
.divFooter > a {
  padding: 10px;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--text-on-primary);
}
.secondSection {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
  gap: 20px;
  margin-top: 20px;
}
.tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #fff;
  /* padding-bottom: 20px; */
}
.subtittle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  padding: 30px 0;
}
.textMainSection {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 21px;
  color: #fff;
}
.buttonMore {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 272px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  text-align: center;
  color: var(--text-on-primary);
  border: 2px solid #373867;
  border-radius: 5px;
  cursor: pointer;
}
.buttonMore:hover{
  color:#fff;
  background-color: #373867;
}
.group > div > div > .groupTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-on-primary);
}
.imgMainSection {
  padding-left: 20px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
  /* z-index: -1; */
}

.mainSection {
  background-color: var(--background);
  color: var( --text-on-primary);
  display: flex;
  flex-direction: column;
}

.imagenLeftBox {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-items: center;
}
.subGroup {
  display: block;
  padding-left: 15px;
  /* width: 50%; */
  /* esto de abajo si */
  /* height: 50%; */
}
.peerSeparator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* margin-top: 50px; */
  width: 40%;
}
.listFooter {
  display: flex;
  justify-content: space-evenly;
}

#descriptionImage{
  min-width: 150px;
  max-height: 150px;
  filter: var(--image-filter);
}

.contactForm {
  padding: 20px 30px 20px;
  margin: auto;
}

.allCard{
  background-color: var(--card-background);
  width: 50%;
  margin: 100px auto 50px;
}

.h2Contact{
  margin: 35px 0 25px 0;
  font-size: 50px;
  font-weight: 700;
  color: var(--card-h2);
  text-align: center;
}

.imgTablet {
  position: relative;
  display: flex;
  flex-direction: column;
}

.divSeparator1{
  width: 50%;
}

.divSeparator2{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: inherit;
  width: 50%;
  height: 100vh;
  padding: 30px 100px;
  backdrop-filter: blur(10px) saturate(100%);
  justify-content: center;
  background: rgba(50,50,50,0.5);
}

.valuesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 230px;
  background-color: var(--card-background);
  margin-top: 80px;
  margin-bottom: 100px;
}

.valuesContainer h4{
  margin: 0 0 20px -35px;
  text-transform: uppercase;
  font-weight: 500;
}

.valuesContainer li{
  padding-bottom: 5px;
}

.valuesContainer li:hover{
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .listFooter {
    align-items: center;
    flex-direction: column;
  }
  .listFooter > div {
    width: 80%;
  }
  .listFooter > div > h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
  .imgTablet {
    display: flex;
  }
  .imgTabletSize {
    width: 80%;
    height: 60%;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
    z-index: -1;
  }
  .wrapImage {
    display: none;
  }
  .firstSection > div {
    width: 95%;
  }
  .imgTablet {
    justify-content: center;
  }
  .subGroup {
    flex-direction: column;
  }
  .subtittle,
  .textMainSection {
    text-align: center;
  }
  .buttonMore {
    width: 50%;
    margin: 0 auto;
  }
  .tittle{
    width: 100%;
    font-size: 45px;
    text-align: center;
  }
  .firstSection > div {
    width: 90%;
    margin-left: 5%;
  }
  .secondSection{
    display: block;
  }
  .peerSeparator{
    display: block;
  }
  .valuesContainer {
    max-width: 250px;
    background-color:  hsla(102, 34%, 71%, 1);
  }
  .valuesContainer > ol {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .buttonMore {
    width: 100%;
  }
  .buttonForm{
    margin: 20px 5%;
    width: 100%;
  }
  #descriptionImage{
    min-width: 100px;
    max-height: 100px;
  }
}
