.form{
	color: var(--text-on-primary);
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	padding: 0 20px;
}
.form div{
	display: flex;
	flex-direction: column;
}
.form div button{
	align-self: center;
	margin-top: 25px;
}
h2{
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.button{
	width: 40px;
	height: 40px;
	background-color: var(--primary-button-color);
	border: none;
	border-radius: 20px;

}

.form input{
	height: 30px;
}