.container{
    background-color: #F0F4F9;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.container table{
    border-spacing: 0 !important;
    border: 1px solid black;
}
thead tr th {
    text-align: center;
    color: #EA3354;
    height: 30px;
}
thead tr {
    border: 1px solid black;
}