#selectedTag {
  width: 21cm;
  max-width: 21cm;
}

.reportContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 12px;
  width: 100%;
  min-width: fit-content;
  justify-content: space-around;
}

.keyInfoContainer {
  display: flex;
  gap: 12px;
}

.keyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  border: 1px solid #00000030;
  box-shadow: 0 2px 3px 0 #00000030;
  border-radius: 4px;
}

.extendedTable {
  min-width: 600px;
}

.condensedTable {
  min-width: 400px;
}

.graphContainer {
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: 1px solid #00000030;
  box-shadow: 0 2px 3px 0 #00000030;
  border-radius: 4px;
  padding: 16px;
  align-items: center;
}

.barsContainer {
  min-width: 300px;
  width: 100%;
  max-width: 800px;
}
