.container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  background-color: #EDEDED;
}

.main {
  display: flex;
  height: 10vh;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #373867;
  display: none;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  list-style-type: none;
}

.rutes > li > a {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 15px;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #373867;
}

.license {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #D4D4D4;
  padding-top: 10px;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
}

.socialIcon {
  margin-left: 5px;
}

@media screen and (min-width: 750px) {
  .main {
    flex-direction: column-reverse;
    justify-content: center;
    display: flex;
    height: 10vh;
  }
  .rutes li a {
    font-size: 1rem;
  }
}