body {
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

  .all{
    background-color: var(--background);
    padding-top: 40px;
  }
  .form {
    width: 60%;
    margin: 25px auto;
    background:  var(--form-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 0 20px;
    max-width: 700px;
  }
  .form h1 {
    padding-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: var(--text-on-primary);
    text-align: center;
  }
  .form input{
    display: block;
    padding: 6px;
    border: 1px solid #373867;
    border-radius: 5px;
    resize: none;
    width: 100%;
  }
  .inputContainer {
    margin: 10px 20px;
    width: 50%;
  }
  .formFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: none;
  }
  .checkbox {
    align-self: flex-start;
  }
  .buttonsContainer {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
  }
  .buttonContinue {
    width: 50%;
    margin: 15px 10%;
    height: 30px;
    background-color: var(--primary-button-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .buttonOk {
    width: 20%;
    height: 30px;
    margin-top: 25px;
    background-color: #aace9b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .modal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .errorInput {
    color: red;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    margin: 5px 0 0 5px;
    padding: 0%;
    border: none;
  }
  .labels {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--text-on-primary);
  }
  .buttonContinue::after, .buttonReset::after, .buttonOk::after {
    content: '';
    background: #181823;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .buttonContinue:hover::after, .buttonReset:hover::after, .buttonOk:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  };
  .container{
    background-color: var(--background);
  }
  .bottomLinkContainer{
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
  }
  link:visited{
    color: var();
  }
  .newHereText{
    color: var(--text-on-primary);
    margin-bottom: 20px;
  }
  .signupRedirect{
    color: #0A66C2;
  }
  .signupRedirect:visited{
    color: #0A66C2;
  }
