:root {
  /* MATERIAL COLORS */
  --primary-color: #008AD6;
  --primary-color-light: rgba(0, 138, 214, 0.7);
  --primary-color-dark: #16242C;
  --secondary-color: #ea3354;
  --secondary-color-light: #e74563;
  --secondary-color-dark: #b1002c;
  --background: #ffffff;
  --surface: #ffffff;
  --action: #20b000;
  --error: #b02000;
  --text-on-primary: #16242C;
  --text-on-secondary: #ffffff;
  --text-on-background: #000000;
  --text-on-surface: #fff;
  --text-on-error: #ffffff;
  --text-on-primary-alt: #000;
  --card-background:  rgba(0, 138, 214, 0.2);
  --image-filter: invert();
  --card-h2: rgb(77, 158, 250);
  --text-on-primary-alt: #333;
  --disabled: #3778ac;

  /* APP COLORS */
  --primary-text-color: #000000;
  --row-text-primary: #000000;
  --row-text-hover: #ffffff;
  --text-secondary: #444444;
  --routes-hover: #9997e7;
  --burguer-background: rgba(0, 138, 214, 0.5);
  --footer-background: #d4d4d4;
  --row-even-background: #e0e4e9;
  --row-odd-background: #f0f4f9;
  --row-hover-background: #7e8795;
  --primary-button-color: #57b1fa;
  --slider-active-color: #2196F3;
  --bottom-table-buttons-active: #CEE0F3;
  --bottom-table-buttons-disabled: #EBECF0;
  --form-background: #E8F4FB;
  --tabs-unselected: #0367b9;
  --footer-hover: #008AD6;
  --ripple-button-background: #008AD6;
  --ripple-button-wave: #E8F4FB;
}

[data-theme='dark'] {
  /* MATERIAL COLORS */
  --primary-color: #16242C;
  --primary-color-light: #D9D9D9;
  --primary-color-dark: #0a00b6;
  --secondary-color: #03dac6;
  --secondary-color-light: #6746c3;
  --secondary-color-dark: #000063;
  --background: #3A3F40;
  --surface: #ffffff;
  --action: #20b000;
  --error: #fd7373;
  --text-on-primary: #ffffff;
  --text-on-secondary: #ffffff;
  --text-on-background: #000000;
  --text-on-surface: #000000;
  --text-on-error: #ffffff;
  --text-on-primary-alt: #333;
  --disabled:#b59d56;

  /* APP COLORS */
  --primary-text-color: #000000;
  --row-text-primary: #000000;
  --row-text-hover: #ffffff;
  --text-secondary: #444444;
  --routes-hover: #9997e7;
  --burguer-background: rgba(22, 36, 44, 0.5);
  --footer-background: #d4d4d4;
  --row-even-background: #e0e4e9;
  --row-odd-background: #f0f4f9;
  --row-hover-background: #7e8795;
  --primary-button-color: #FBBC04;
  --slider-active-color: #FBBC04;
  --form-background: #16242C;
  --card-background:  rgba(142, 142, 142, 0.282);
  --image-filter: hue-rotate(0);
  --card-h2: #fff;
  --tabs-unselected: #c09103;
  --footer-hover: #FBBC04;
  --ripple-button-background: #FBBC04;
  --ripple-button-wave: #3A3F40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #373867;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
